body{
    margin: 0 !important;
    
    overflow-x: hidden;
    
}

.rectangle-38{  
    width: 100%;
    height: 50px;
    background: #307CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px #F2F2F2;
}

.group-128{ 
    width: 82%;
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.group-133{
    display: flex;
    align-items: center;
}

.content{
    margin: 8px;
    color: #FFFFFF;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 168px;
    height: 37px;
    background-color: #FFFFFF;
    border-radius: 8px;
    justify-content: center;
    margin-left: 30px;
}

.textbtn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #828282;
}
.navbar-expand-lg{
    height: 81px;
    margin-left: 135px;
    padding: 0 !important;
}

.nav-item{
    height: 34px;
}

.navbar-collapse {
    justify-content: space-around;
}

.ul{
    display: flex;
    margin: 0;
}

li{
    min-width: 50px;
    margin: 25px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.image-1{
    width: 90px;
    height: 80px;
}

.navbarlink{
    color: #828282;
    text-decoration: none;
}

.navbarlink:hover{
    text-decoration: none;
}

.bi-telephone,.bi-envelope{
    flex-wrap: wrap;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 5px;
}

.righthead{
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-111,.group-112{
    margin-left: 20px;
    margin-right: 20px;
}

.img-2{
    width: 100%;
}

.linkvector{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #9595A6;
    z-index: 10;
    width: 420px;
    position: absolute;
    left: 135px;
    top: 425px;
    text-decoration: none;
}

.contentvector{
    position: absolute;
    left: 135px;
    top: 263px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    width: 460px; 
    color: #2A2A35;
    z-index: 10;
}


.lmbtn,.lmbtn2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 170px;
    height: 54px;
    left: 135px;
    cursor: pointer;
    top: 531px;
    background: #70B64D;
    border-radius: 68px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    z-index: 10;
}

.lmbtn2{
    display: none;
}



.lmbtn:hover{
    background: #4f7d35;
}

#slide{
    margin-top: 100px;
    position: absolute;
    width: 70px;
    height: 4px;
    background: #70B64D;
    border-radius: 4px;
    left: 135px;
}

#slide2{
    margin-top: 100px;
    width: 70px;
    height: 4px;
    background: #70B64D;
    border-radius: 4px;
}

#numslide{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #2A2A35;
}
.numslide2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #2A2A35;
}

.allnumslide{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #828282;
}

.allnumslide2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #828282;
}

.ctnslide{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2A2A35;
}

.headslide{
    margin-top: 100px;
    position: absolute;
    width: 80%;
    left: 135px;
    display: flex;
    height: min-content;
    justify-content: space-between;
}

.btnslide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-arrow-left,.bi-arrow-right{
    font-size: 20px;
}

.leftslide,.rightslide{
    padding: 0;
    height: fit-content;
    cursor: pointer;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
}

.leftslide:hover,.rightslide:hover{
    color: #828282;
}

.allcontainer{
    margin-top: 235px;
    display: flex;
    transition: transform 0.5s ease-out;
}

#container{
    margin-left: 135px;
    width: 670px;
    height: 570px;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ctnnote{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2A2A35;
}

.note,.note2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 550px;
    height: 105px;
    line-height: 150%;
    color: #828282;
}

.noidung{
    margin-top: 50px;
}

.imgbox{
    width: 670px;
    height: 311px;
    box-shadow: inset 0px -1px 1px #F2F2F2;
    border-radius: 10px 10px 0px 0px;
}

.containerquestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 135px;
    margin-right: 80px;
}

.contentheadctn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    width: 797px;
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
    height: 20px;
    color: #2A2A35;
}

.contentheadctn2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #828282;
    height: 80px;
}

.bodyctn{
    display: flex;
    width: 1250px;
    height: 307px;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    justify-content: space-between;
}
.leftbodyctn{
    justify-content: end;
    display: flex;
    flex-direction: column;
}

.leftbodyctn2{
    display: flex;
    flex-direction: column;
    width: 585px;
    margin-top: 50px;
    margin-left: 100px;
}
.img3{
    height: 120px;
    width: 140px;
}

.img4{
    height: 120px;
    width: 200px;
}

.bodybodyctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.bodybodyctn2{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.bodybodybodyctn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2A2A35;
}

.headbodybodyctn{
    display: flex;
}

.rightslide2,.leftslide2{
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.leftslide3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.leftslide3:hover{
    color: #828282;
}

.rightslide2:hover,.leftslide2:hover{
    color: #828282;
}

.slidebar{
    justify-content: center;
    display: flex;
}

.yes,.no{
    width: 91px;
    height: 54px;
    background: #70B64D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 68px;
    border: 0;
    margin: 15px;
    cursor: pointer;
}

.yes:hover,.no:hover{
    background: #4f7d35;
    cursor: pointer;
}

.bodyctn2{
    width: 1170px;
    height: 592px;
    background: #FBFBFB;
    border: 1px solid #F2F2F2;
    border-radius: 10px;    
    display: flex;
}

.img5{
    margin-top: 40px;
    width: 463px;
    height: 156px;
}

.img6{
    width: 55px;
    height: 90px;
}

.txt1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;    
    text-align: center;
    color: #70B64D;
}

.txt2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #2A2A35;
    margin: 0;
}

.call{
    width: 192px;
    height: 54px;
    left: 735px;
    top: 721px;
    background: #70B64D;
    border-radius: 68px;
    border: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 50px;
}

.txt3{
    font-family: 'Montserrat';
    font-style: normal;
    width: 370px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #828282;
}

.txt4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #70B64D;
}

.call:hover{
    background: #4f7d35;
    cursor: pointer;
}

.allcontainerquestion{
    display: inline-flex;
    transition: transform 0.5s ease-out;
}

.contentheadin4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2A2A35;
}

.contentheadin42,.contentheadin43{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #828282;
    width: 730px;
    height: 63px;
}
.contentheadin43{
    display: none;
}

.allcontainerin4{
    flex-direction: column;
    display: flex;
    width: -webkit-fill-available;
    height: 776px;
    align-items: center;
}

.noidungcathe,.noidungcathe2{
    width: 350px;
    box-sizing: border-box;
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #3E4462;
    opacity: 0.4;
    border: 1px solid #DFE4EA;
    border-radius: 8px;
    height: 50px;
}

.bodyin4{
    display: flex;
    width: 730px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cathe{
    width: 335px;
    margin-right: 30px;
}

.noidungcathe2{
    width: 730px;
    height: 120px;
    padding-top: 0px;
    padding-left: 10px;
    text-align: start;
}

.send,.send2{
    width: 730px;
    height: 54px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #70B64D;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    border: 0;
}

.send2{
    display: none;
}

.send:hover{
    background: #4f7d35;
    cursor: pointer;
}

.containerfaq{
    width: 100%;
    height: 843px;
    background: #FBFBFB;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headctn2{
    width: 750px;
}

.contentheadfaq{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2A2A35;
}

.contentheadfaq2,.contentheadfaq3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    width: 750px;
    height: 63px;
    color: #828282;
}

.contentheadfaq3{
    display: none;
}

.bi-question-square-fill{
    color: #E5E5E5;
    border-radius: 5px;
    font-size: 40px;
    border: 0;
}

.questionjs{
    width: 770px;
    height: 100px;  
    /* height: 100px; */
    padding: 20px;
    background: #FFFFFF;
    margin-top: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cauhoi{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 635px;
    color: #2A2A35;
}

.traloi{
    width: 635px;
    height: 60px;
    display: none;
}

.qs3{
    padding: 0;
    height: fit-content;
    cursor: pointer;
    border: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
}

.qs3:hover{
    color: #828282;
}

.foot{
    width: 100%;
    height: 430px;
    background: #2A2A35;
    border-radius: 0px;
}

.foot2{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #424249;
}

.cot{
    width: 206px;
    margin-top: 50px;
}

.noidungcot{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;

}

.tieudecot{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.theli{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

.allcot{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 175px;
}

.sdtlh{
    text-decoration: none;
    color: #70B64D;
}

.cuoicung,.cuoicung2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.cuoicung2{
    display: none;
}

.bi-instagram,.bi-facebook{
    color: #70B64D;
    font-size: 20px;
    margin-right: 10px;
}

p{
    margin-top: 18px !important;
}

.bi-chevron-up{
    display: none;
    color: #70B64D;
    font-size: 20px;
}

.cb{
    width: 100%;
    display: flex;
    align-items: center;
}

.iw{
    margin-top: 13px !important;
    margin-left: 8px;
}

.bi-chevron-up:hover{
    color:#828282;
}

.bi-chevron-down{
    font-size: 20px;
}

.bg-light{
    background-color: #FFFFFF !important;
}

.note2{
    display: none;
}

.contentheadctn2{
    margin-top: 50px !important;

}

.cot2{
    display: none;
}

@media screen and (min-width: 375px) and (max-width: 812px){    /*Độ phân giải của iphone 11 pro*/
    
    
    .rectangle-38{
        display: none;
    }

    #slide{
        left: 12%;
    }

    .headslide{
        display: unset;
        left: 12%;
    }

    .ctnslide{
        text-align: start;
        
    }

    .allcontainer{
        margin-top: 80%;
        
    }

    #container{
        margin-left: 12%;
    }

    .note{
        display: none;
    }

    .note2{
        display: block;
        width: 215px;
        height: 84px;
    }

    .containerquestion{
        margin-left: 0;
        align-items: unset;
    }
    .img5{
        display: none;
    }

    .bodybodyctn2{
        display: none;
    }

    .bodyctn2{
        width: 100vw;
    }

    .headctn{
        text-align: center;
        width: 100vw;
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentheadctn2{
        display: none;
    }

    .bodyctn{
        width: 100vw;
    }

    .contentheadctn{
        width: 315px;
        font-size: 22px;
        height: 54px;
    }

    .bodyctn{
        justify-content: unset;
        
    }
    

    .bodybodybodyctn{
        width: 257px;
        font-size: 20px;
        height: 72px;
    }
    .img3{
        height: 80px;
        width: 90px;
    }

    .img4{
        height: auto;
        width: 100%;
    
    }

    .bodybodyctn{
        padding: 0;
        width: 100%;
        justify-content: center;
    }
    
    .btnslide{
        text-align: start;
        justify-content: start;
    }
    .leftslide{
        margin-left: 0;
    }
    .ctnnote{
        width: 215px;
        font-size: 20px;
        height: 48px;
    }

    .noidung{
        margin-top: 0;
        width: 215px;
        height: 84px;   
        font-size: 14px;
    }

    #container{
        width: 265px;
        height: 343px;
    }

    .imgbox{
        width: 265px;
        height: 146px;
    }

    .image-1{
        width: 50px;
        height: 40px;
    }

    .navbar-expand-lg {
        margin-left: 10px;
        height: 61px;
    }

    .nav-item{
        height: 45px;
        background-color: white;
        z-index: 100;
    }
    li{
        padding: 7px;
        margin: 0;
    }

    .contentvector{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        position: unset;
        width: 315px;
        height: 128px;
        line-height: 32px;
    }

    .vector1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linkvector{
        width: 315px;
        height: 125px;
        position: unset;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }

    .lmbtn{
        display: none;
    }

    .lmbtn2{
        position: unset;
        display: block;
        width: 263px;
        margin-left: 3em;
        align-self: flex-start;
        height: 54px;
        background: #70B64D;
        border: 4px solid rgba(100, 172, 65, 0.23);
        border-radius: 68px;
    }

    .allcontainerin4{
        width: 100vw;
    }

    .allcontainerin4 > .headctn{
        text-align: unset;
        align-items: unset;
    }

    .allcontainerin4 > .headctn > .slidebar{
        justify-content: unset;
        margin-left: 12%;
    }

    .contentheadin4{
        padding: 2%;
    }
    .contentheadin42{
        display: none;
    }

    .contentheadin43{
        display: block;
        font-size: 12px;
        text-align: left;
        padding-left: 13%;
        padding-right: 13%;
        height: 108px;
        width: 100vw;
    }

    .bodyin4{
        flex-wrap: unset;
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cathe{
        width: 100%;
        margin: 0;
    }

    .noidungcathe,.noidungcathe2{
        width: 100%;
    }

    .send{
        width: 75vw;
    }

    .containerfaq{
        margin-top: 530px;
        width: 100vw;
    }

    .contentheadfaq2{
        display: none;
    }

    .contentheadfaq3{
        display: block;
        width: 100%;
        height: 36px;
        font-size: 12px;
        padding-left: 40%;
        padding-right: 40%;
    }

    .questionjs{
        height: 170px;
        width: 75vw;
        padding: 5px;
    }

    .qs3{
        display: none;
    }
    .traloi{
        display: block;
        font-size: 12px;
        height: 85px;
        width: 100%;
    }

    .cauhoi{
        width: 100%;
    }
    .foot{
        margin-top: 0px;
        width: 100vw;
        height: 300vw;

    }
    .send2{
        display: block;
        margin-top: 20px;
        width: 75vw;
        height: 54px;
        font-size: 18px;
        border-radius: 68px;
    }
    .containerfaq{
        height: 950px;
    }

    .cot{
        display: none;
        
    }

    .cot2{
        display: block;
        width: 100%;
        padding-top: 3%;
        padding-left: 13%;
        padding-right: 13%;
        margin: 0;
    
    }

    .allcot{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    .cuoicung{
        display: none;
    }
    .cuoicung2{
        display: block;
        width: 60vw;
    }

    .foot2{
        align-items: unset;
        padding-top: 6%;
    }

    .cot2 > .noidungcathe{
        opacity: 1;
    }
    .sendbtn{
        background-color: transparent;
        color: #307CFF;
        position: relative;
        left: 85%;
        top: 2.3em;
        z-index: 10;
        border: 0;
    }
}
  







/* @media screen and (max-width: 739px){
   .content,.btn,.image-1,.rectangle-11{
    display: none;
   }
   .bi-envelope,.bi-telephone{
    margin: 1px;
   }
   .group-128{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .contentvector{
    width: 155px;
    font-size: 10px;
    top: 85px;
    left: 30px;
    height: 30px;
    line-height: 15px;
    margin: 0;
   }
   .linkvector{
    width: 195px;
    font-size: 10px;
    top: 120px;
    left: 30px;
    height: 30px;
    line-height: 15px;
    margin: 0;
   }
   .lmbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 70px;
    height: 26px;
    left: 28px;
    top: 186px;
    background: #70B64D;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #FFFFFF;
   }
}


@media screen and (min-width: 740px) and (max-width: 1023px) {
    .content,.image-1{
        display: none;
    }
    .rectangle-38{
        width: 100%;
    }
    .group-128{
        justify-content: center;
        display: flex   ;
    }
    .rectangle-11,.header{
        width: 100%;
    }
    ul{
        padding: 0;
    }
    li{
        min-width: 20px;
        width: 45px;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;   
    }
    .contentvector{
        position: absolute;
        left: 100px;
        top: 200px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 25px;
        width: 350px;
        color: #2A2A35;
        z-index: 10;
    }
    .linkvector{
        font-size: 16px;
        height: 30px;
        line-height: 20px;
        margin: 0;
        width: 330px;
        position: absolute;
        left: 100px;
        top: 310px;
    }
    .lmbtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 150px;
        height: 50px;
        left: 100px;
        top: 390px;
        background: #70B64D;
        border-radius: 68px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        z-index: 10;
    }
} */
